html {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

:root {
    --background-color-theme: #71C9CE;
    --first-gradient: #A6E3E9;
    --second-gradient: #CBF1F5;
    --main-title: black;
    --title: black;
    --card-background: #E3FDFD;
}

body {
    margin: 0;
    padding: 0;

    background: linear-gradient(90deg, var(--first-gradient) , var(--second-gradient));
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--background-color-theme) ;
    border-radius: 0 0 70px 70px;
    padding: 0 50px 0 50px;
    z-index: 1;

    transition: all 0.5s ease;
}

nav > ul {    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style: none;
    gap: 30px;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: var(--title);
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

nav a:hover {
    color: var(--card-background);
}

nav li > img {
    height: 50px;
    border-radius: 100%;
}

main {
    margin: 100px 0;
    padding: 100px;
}

.short-introduction-container {
    display: flex;
    gap: 10px;

    width: 80%;
    margin: 0 auto;

    color: var(--main-title);
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.short-introduction-container h1 {
    font-size: 2rem;
}

.short-introduction-container > img {
    height: 350px;
}

.intro-container span {
    font-size: 1.4rem;
}

#work-experience-container,
#projects {
    margin: 200px 0 200px 0;
    text-align: center;

    padding: 0 10%;
}

#work-experience-container h1,
#projects h1 {
    color: var(--main-title);
    font-size: 3rem;
}

#work-experience,
.card-container {
    display: grid;
    
    gap: 30px;
    margin: 20px;
}

#work-experience > .card > p:nth-child(2) {
    font-weight: bold;
}

#work-experience {
    grid-template-columns: repeat(auto-fit, minmax(650px, 1fr));
}

.card-container {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.card {
    background-color: var(--card-background);
    border: 1px solid var(--card-background);
    padding: 15px;

    color: var(--main-title);

    border-radius: 10px;

    transition: transform 0.3s;
}

.card > * {
    margin: 5px;
}

.card:hover{
    transform: scale(1.02);
    cursor: pointer;
}

.card img {
    width: 90%;
    height: 75%;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.card h2 {
    font-size: 1.7rem;
}
.card p {
    font-size: 1.2rem;
}

footer {
    padding: 15px 25px;

    background-color: var(--background-color-theme);
    text-align: center;
    color: var(--title);
    font-weight: bold;
}

footer img {
    height: 25px;
    margin: 0 10px;
}

.division {
    width: 90%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.division span {
    width: 45%;
    height: 3px;
    background-color: var(--title);
}

.division img{
    height: 15px;
}

.division img:nth-child(3){
    height: 20px;
}

@media (max-width: 1200px) and (min-width: 801px) {
    .short-introduction-container {
        flex-direction: column;
    }
}

@media (max-width: 800px){
    nav {
        left: 0;        
        border-radius: 0;
        padding: 0 10px 0 10px;
    }

    nav > ul {
        gap: 5px;
    }

    nav li {
        font-size: .5rem;
    }

    main {
        padding: 10px;
    }
    .short-introduction-container {
        flex-direction: column;
        width: 97%;
    }

    .short-introduction-container h1 {
        font-size: 1.5rem;
    }
    .short-introduction-container > img {
        height: 300px;
    }
    

    #work-experience-container,
    #projects {
        padding: 1.5%;
    }

    #work-experience,
    .card-container {
        grid-template-columns: 1fr;
    }

    #projects > .card-container > .card {
        height: 400px;
    }
}