html {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

:root {
    --background-color-theme: #3b82f6;
}

body {
    margin: 0;
    padding: 0;

    background: linear-gradient(90deg, #4f46e5 , #5b21b6);
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--background-color-theme) ;
    border-radius: 0 0 70px 70px;
    padding: 0 50px 0 50px;
}

nav > ul {    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style: none;
    gap: 30px;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #bfdbfe;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

nav a:hover {
    color: white;
}

nav li > img {
    height: 50px;
    border-radius: 100%;
}

main {
    margin-top: 100px;
    padding: 100px;
}

.short-introduction-container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 80%;
    margin: 0 auto;

    color: white;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.short-introduction-container h1 {
    font-size: 2rem;
}

.short-introduction-container > img {
    height: 350px;
}

.intro-container span {
    font-size: 1.4rem;
}

footer {
    padding: 15px 25px;

    background-color: var(--background-color-theme);
    text-align: center;
}

footer > img {
    height: 25px;
    margin: 0 10px;
}